# meilisearch
MEILI_HTTP_ADDR=0.0.0.0:7700
MEILI_MASTER_KEY=${{ secret(64) }}
MEILI_ENV=production
MEILI_DB_PATH=/meili_data/data.ms
MEILI_DUMP_DIR=/meili_data/dumps
MEILI_SNAPSHOT_DIR=/meili_data/snapshots

# safeops-runner
PORT=3002
MEILI_HOST=http://meilisearch.railway.internal:7700
MEILI_API_KEY=${{ secret(64) }}
SAFEOPS_ADMIN_USER=admin
SAFEOPS_ADMIN_PASSWORD=${{ secret(24) }}
MEILI_IMAGE_TAG=v1.38.2
TARGET_MEILI_VERSION=v1.38.2
DUMP_DIR=/meili_data/dumps
SNAPSHOT_DIR=/meili_data/snapshots
RESTORE_STAGING_DIR=/meili_data/restore-staging
BACKUP_POLL_MS=2000
BACKUP_TIMEOUT_MS=300000
S3_ENABLED=false
S3_BUCKET=
S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_PREFIX=meili-backups
